
projeto_altium/prj/History/000000004073E919/Datalogger.~(1).#(Deleted).SchDoc.Zip
projeto_altium/prj/History/*
projeto_altium/prj/History
projeto_altium/lib/History
projeto_altium/sch/__Previews

projeto_altium/prj/Datalogger.$$$
*.LOG
projeto_altium/sim/project_sim_config.simcfg
projeto_altium/prj/Project Outputs for Datalogger/Datalogger.nsx
projeto_altium/misc/History/*.SchDot.Zip
